/*-----------------------------------*/
/* BASIC SETUP */
/*-----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #212121;
    font-family: "roboto", "HCo Champion Middlewt", "sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------*/

.row{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }
  
  section {
    padding: 80px 0 80px 0 ;
  }
  
  .box{
    padding: 1%;
  }

/*-----------------HEADINGS------------------*/
h1 {
    font-weight: 500;
    font-size: 35px;
    color: #6e46ae;
}

/*-----------------------------------*/
/* HEADER & HEADINGS */
/*-----------------------------------*/

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: -15px;
    margin-left: 20px;
}

.first-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;
    
}

.first-nav li{
    display: inline-block;
    margin: 10px;
    padding: 0;
    text-decoration: none;
    
}

.nav-bar{
    margin-top: 5px;
    background-color: #ebecf0;

}

.nav-bar li{
    display: inline-block;
    padding: 0;
    margin: 20px;
    font-size: 14px;
    font-family: 'roboto', 'sans-serif';
    margin-left: 20px;
    line-height: 20px;
    text-decoration: none;
}

h1 {
    font-size: 35px;
    line-height: 40px;
    color: #3d2462;
    font-weight: 500;
}

.search{
    width: 65%;
}

.hero-image{
    width: 35%;
}

.section-job-search{
    padding: 0px;
}

.search li{
    display: inline-block;
    margin: 10px;
    margin-left: auto;
}

.search-field{
    height: 50px;
    border: 1px solid #3d2462;
    padding: 20px;
    margin: 10px;
    float: left;
    border-radius: 5px;
    outline: none;
    width: 250px;
    margin-left: auto;
}
::placeholder { 
    color: #6e46ae;
  }

.search-btn {
    height: 50px;
    width: 100px;
    border-radius: 100px;
    outline: none;
    border: 1px solid #6e46ae;
    margin-left: auto;
    float: left;
    margin: 10px;
    background-color: #6e46ae;
    color: #fff;
    cursor: pointer;
}

.section-job-ads{
    margin-top: 40px;
    padding: 30px;
    background-color: #ebecf0;
}

.job-ads-txt{
    margin: 0px;
}

.employer{
    display: flex;
    float: right;
    margin-top: 10px;
    color: black;

}

.vid-job-ads {
    font-family: 'Roboto';
    font-size: 35px;
    font-weight: 300;
    margin-top: 50px;
    color: black;
}

.top-paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.hor-line{
    width: 100px;
    background-color: black;
    border: black;
}

.btm-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.jobs-btn {
    height: 50px;
    width: 200px;
    border-radius: 100px;
    outline: none;
    border: 1px solid #6e46ae;
    margin-left: auto;
    float: left;
    margin: 10px;
    background-color: #6e46ae;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
}

hr {
    width: 50%;
    height: 1px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ececec;
}

.video-picks {
    margin: 10px;
    margin-left: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.section-tools{
    padding: 40px;
}

.icon-tools{
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 100px;
    line-height: 100px;
    vertical-align: middle;
    color: #929191;
}

.tools-box{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-left: 5%;
    padding: 25px;
    box-shadow: 3px 3px 5px 5px #e4e2e2;
}

.overall-header{
    font-family: "Roboto";
    font-weight: 900;
    word-spacing: 2px;
    font-size: 35px;
    line-height: 50px;
    color: #404040;
    text-align: center;
    width: 100%;  
    margin-bottom: 30px;
}

.tools-box p{
    text-align: center;
    line-height: 150%;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color:  #000000;
    font-weight: 200;
}

.tools-header {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color: #007fad;
    text-align: center;
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 15px;

}

.tools-btn {
    height: 50px;
    width: 200px;
    border-radius: 100px;
    outline: none;
    border: 1px solid#097c7c;
    margin: 10px;
    background-color: #097c7c;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
}

.section-monster-app {
    padding: 0px;
}

.app-background {
    background-color: #4d2885;
    background-image: linear-gradient(to right, #4d2885, #6f38c0);
}

.app-container{
    padding: 40px 0px 40px 0;
}

.app-text h1{
    font-size:38px;
    font-weight:900;
    line-height: 50px;
    color: #fff;
    margin-top: 70px;
}

.app-text h2{
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size:20px;
    font-weight:200;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1px;   
}

.button-app img{
    height: 50px;
    width: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-right: 10px;
  }

.section-company-logo{
      padding: 0;
      padding-bottom: 40px;
  }

  .section-company-logo h1{
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size:35px;
    font-weight:900;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #404040;
    margin-top: 50px;
}

.company-logo-amazon{
      height: auto;
      margin-top: 60px;
      
  }

.company-logo-ups{
    height: auto;
}

.company-logo-ibm{
    height: auto;
    margin-top: 40px;
}

.company-logo-cvs{
    height: auto;
}

.section-usa-jobs{
    padding: 0px;
}

.section-usa-jobs h2{
    font-family: sans-serif, 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #212121;
    margin: 20px;
    margin-left: 0px;
}

.section-usa-jobs h3{
    font-family: sans-serif, 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #212121;
    margin-left: 0px;
    margin-bottom: 10px;
}

.section-usa-jobs a{
    display: block;
    color: #929191;
    text-decoration: none;
}

.popular-container {
    margin-bottom: 15px;
}

.section-usa-jobs p {
    font-size: 14px;
    font-weight: 300;
    color: #929191;
    margin-bottom: 40px;
}

.section-footer {
    padding: 0;
    padding-bottom: 50px;
    background-color: #ebecf0;
}

.monster-m img{
    margin-top: 40px;
    height: 50px;
    margin-left: 47.5%;
}

.footer-column{
    margin-top: 30px;
}

.footer-column h3 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    font-family: sans-serif, 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #212121;
    margin-left: 0px;
    margin-bottom: 10px;
}

.footer-column a{
    display: inline-flex;
    text-align: center;
    display: block;
    color: #929191;
    text-decoration: none;
}

.social-column h2{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    font-family: sans-serif, 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #212121;
    margin-top: 100px;
}

.social-icons {
    display: flex;
    color: #929191;
    width: 100%;
    justify-content: center;
}

.social-icons ion-icon {
    margin: 10px;
    height: 130%;
}

.footer-txt h2 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    font-family: sans-serif, 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #212121;
    margin-top: 50px;
}

.footer-btn {
   justify-content: center;
    margin-bottom: 30px;
}
.footer-btn img{
     height: 40px;
     margin: 1.5px;
 }

.footer-txt h3{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-family: sans-serif, 'Roboto';
    font-size: 13px;
    font-weight: 100;
    line-height: 24px;
    color: #494848;
    margin-bottom: 20px;
}
